<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Simple Calculator</title>
</head>
<body>
    <div id="app">
        <input v-model="txt1" type="number">
        <input v-model="txt2" type="number"><br>

        <button v-on:click="result= txt1 + txt2">+</button>
        <button @click="result= txt1 - txt2">-</button>
        <button @click="result= txt1 * txt2">*</button>
        <button @click="result= txt1 / txt2">/</button>
        <br>
        <br>
        result: {{ result }}
    </div>
    <script src="index.js"></script>
</body>
</html>